name: Deploy Website


on:
push:
branches: [ main ]


jobs:
deploy:
runs-on: ubuntu-latest


steps:
- name: Checkout Code
uses: actions/checkout@v3


- name: Deploy to EC2
uses: appleboy/ssh-action@v1.0.0
with:
host: ${{ secrets.EC2_HOST }}
username: ubuntu
key: ${{ secrets.EC2_KEY }}
script: |
sudo rm -rf /var/www/html/*
sudo cp -r * /var/www/html/